name: FutStats Crawler FBRef

on:
  schedule:
    # Roda a cada 2 horas
    - cron: '0 */1 * * *'
  workflow_dispatch: # Permite rodar manualmente clicando em um botão no GitHub

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Rodar Crawler
      # ESTA PARTE É A MAIS IMPORTANTE:
      env:
        SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
        SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
      run: |
        # O comando para rodar o robô
        python crawler.py
